.waper {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius:8px;
    padding: 8px 12px;
    width: 155px;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #a5a8b1;
    margin-right: 39px;
}
.lable {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.title {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
}
.header {
    //styleName: 36 bold;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

}