.label {
  //styleName: 18 bold;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.icon {
  cursor: pointer;
  &:hover {
    filter: invert(69%) sepia(52%) saturate(406%) hue-rotate(338deg)
      brightness(103%) contrast(101%);
  }
}
.radioGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.radio {
  //styleName: Menu Medium 14;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.015em;
  text-align: center;
}
