
.family-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    position: relative;
}

.label {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 12px;
    color: #1e0d03;
}

.number {
    position: absolute;
    width:67px;
    height: 46px;
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(50, 50, 71, 0.25);
    background-color: #fff;
    line-height: 46px;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
}

.even-wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 203px;
    
}

.donut-graph {
    transform: rotate(-90deg);
}

.donut-graph-arcs-path {
    opacity: 1 !important;
}

.donut-graph-innertext {
    display: none;
}

.label-tiket {
    //styleName: 14 regular;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #1e0d03;
    margin-left: 8px;
}

.box-used {
    height: 20px;
    width: 44px;
    left: 0px;
    top: 1px;
    border-radius: 4px;
    background: #4F75FF;
}
.box-not_use {
    height: 20px;
    width: 44px;
    left: 0px;
    top: 1px;
    border-radius: 4px;
    background: #FF8A48;
}